<% include ./partials/header %>
                <h2 style="text-align: center">Register</h2>
                <div style="width: 30%; margin: 25px auto;">
                    <form action="/register" method="POST">
                        <div class="form-group">
                            <input class="form-control" type="text" name="username" placeholder="username">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="password" placeholder="password">
                        </div>
                        <button>sign up</button>
                    </form>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#sidebar").mCustomScrollbar({
                    theme: "minimal"
                });

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar, #content').toggleClass('active');
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });
            });
        </script>        
    </body>
</html>
