<% include ../partials/header %>
            <div id="content">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="loginBar">
                            <ul class="nav navbar-nav navbar-right">
                                <% if(!currentUser){ %>
                                <li><a href="/login">Login</a></li>
                                <li><a href="/register">Sign Up</a></li>
                                <% } else { %>
                                <li><a href="#">Signed As <%= currentUser.username %></a></li>
                                <li><a href="/logout">Logout</a></li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="image">
                    <h1>What is KeepDiet?</h1>
                    <p>Are you having trouble keeping up with your workouts? 
                    Do you always end up lacking motivation to move on towards your goal?
                    Well, KeepDiet is here to solve that issue. 
                    </p>
                    <p>KeepDiet is a growing collaborative / competitive fitness application. 
                    KeepDiet helps you find groups of people nearby desiring to meet similar goals with you.
                    Together, you will work with your group on a set workout and record diaries of your food routines
                    and extra workout routines. These diaries will be used to not only keep track of your progress,
                    but also for other members in the same group to see as a reference. 
                    </p>
                    <p>One reason KeepDiet is becoming so popular is with its Reward System.
                    Once the group is formed, each group members make a deposit depending on how much the whole group determined. 
                    The combined money will be destributed equally to people that reached the set goal by end of the deadline. 
                    With this strategy, this Reward System enables the group members to keep up the motivation and competition until the deadline.
                    </p>
                    <p>Remeber, no matter how great a tool is, there is no magic wand where exercise is concerned. You still gotta do the work to get the results.
                    So get out from behind your computer and get moving!
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
