<% include ../partials/header %>
<link rel="stylesheet" href="/Landing/home.css">
                <div class="image">
                    <img src="https://www.telenews.pk/wp-content/uploads/2018/01/a-challengeimage.jpeg" alt="challengeimage" style="width: 80%;">
                    <h2>
                        <span>
                            LOSE WEIGHT WITH KEEPDIET - 
                            <span class="spacer"></span>
                            <br />
                            <span class="spacer"></span>
                            You don't have to be GREAT to START
                            <span class="spacer"></span>
                            <br />
                            <span class="spacer"></span>
                            But you have to START to be GREAT
                        </span>
                    </h2>
                </div>
            </div>
        </div>
    </body>
</html>
