
<% include ../partials/header %>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
    
    <div style="margin: 25px auto; padding:1px 16px; height: 1000px;">
       <h1 style="text-align: center">Group Progress</h1>
       <div margin: "25px auto;">
           <table border="3" cellspacing="10" align="center">
               <tr>
                   <th class="text-center" width="100">Member</th>
                   <th class="text-center" width="100">Orignial weight (lbs)</th>
                   <th class="text-center" width="100">Current weight (lbs)</th>
                   <th class="text-center" width="100">Diaries</th>
               </tr>
               <tr class="text-center">
                   <td>Tony Kim</td>
                   <td>200</td>
                   <td>180</td>
                   <td><a href="">view</a></td>
               </tr>
              <tr class="text-center">
                   <td>Haoting Li</td>
                   <td>190</td>
                   <td>200</td>
                   <td><a href="">view</a></td>
               </tr>
               <tr class="text-center">
                   <td>Junlin Liu</td>
                   <td>170</td>
                   <td>175</td>
                   <td><a href="">view</a></td>
               </tr>
               <tr class="text-center">
                   <td>Wanyang Guo</td>
                   <td>190</td>
                   <td>165</td>
                   <td><a href="">view</a></td>
               </tr>
                <tr class="text-center">
                   <td>Xiangyu Kong</td>
                   <td>170</td>
                   <td>148</td>
                   <td><a href="">view</a></td>
               </tr>
           </table>
       </div>
   </div>
<% include ../partials/footer %>