<% include ../partials/header %>

<script>
    function addBreakfast() {
        var ul = document.getElementById("breakfastList");
        var li = document.createElement("li");
        var x = document.createElement("INPUT");
        x.style.width = '350px';
        li.appendChild(document.body.appendChild(x))
        ul.appendChild(li);
    }
    function addLunch() {
        var ul = document.getElementById("lunchList");
        var li = document.createElement("li");
        var x = document.createElement("INPUT");
        x.style.width = '350px';
        li.appendChild(document.body.appendChild(x))
        ul.appendChild(li);
    }
    function addDinner() {
        var ul = document.getElementById("dinnerList");
        var li = document.createElement("li");
        var x = document.createElement("INPUT");
        x.style.width = '350px';
        li.appendChild(document.body.appendChild(x))
        ul.appendChild(li);
    }
    function addExercises() {
        var ul = document.getElementById("exerciseList");
        var li = document.createElement("li");
        var x = document.createElement("INPUT");
        x.style.width = '350px';
        li.appendChild(document.body.appendChild(x))
        ul.appendChild(li);
    }
</script>
<div style="margin: 25px auto; padding:1px 16px; height: 1000px;">
    <h1 style="text-align: center">Add a New Diary Entry</h1>
    <div style="width: 50%; margin: 25px auto;">
        <form action="/reportprogress/new" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="date" placeholder="Enter today's date">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="checkin" placeholder="Enter today's weight (lbs)">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="checkout" placeholder="Enter today's final weight (lbs)">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="breakfast" placeholder="Enter today's breakfast">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="lunch" placeholder="Enter today's lunch">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="dinner" placeholder="Enter today's dinner">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="snack" placeholder="Enter today's snack">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="exercise" placeholder="Enter today's exercises">
            </div>
         
            <button>Submit</button>
        </form>
        <a href="/reportprogress">Cancel</a>
    </div>
</div>
<% include ../partials/footer %>