<% include ../partials/header %>

<div class="container">
	<div class="row" align="center">
		<h1 style="text-align: center">Wednesday March 7, 2018 %></h1>
		
		<div margin: "25px auto;">
			<table border="3" class="text-center">
				<col>
				<tr>
					<th class="text-center" width="100">Time</th>
					<th class="text-center" width="100">Item</th>
					<th class="text-center" width="100">Calories</th>
					<th class="text-center" width="100">Other Description</th>
				</tr>
				<tr>
					<td width="80">8:00am</td>
					<td>banana</td>
					<td>439KJ</td>
					<td>Home</td>
				</tr>
				<tr>
					<td>11:30pm</td>
					<td>Steak Bowl</td>
					<td>2427KJ</td>
					<td>Chipotle</td>
				</tr>
				<tr>
					<td>1:00pm</td>
					<td>kale salad</td>
					<td>121KJ</td>
					<td>Upbeet</td>
				</tr>
			</table>
	 		<a class="btn btn-primary btn-large" href="/diary/new">Add Food Entry</a>
		</div>
	</div>
</div>

<% include ../partials/footer %>